{% extends 'base.html' %}

{% block contenido %}
    {% load static %}
    <div>
        <main>
            <h1 id="list-item-3" class="text-center text-success">Nosotros</h1>
            <div class="container-testimonials">
                <div class="testimonial border border-success">
                    <div class="photo-perfil1"></div>
                    <h2>Stefanía Giraldo Monsalve</h2>
                    <h4 class="text-success">ADSI</h4>
                    <p class="parrafo1">
                        Se encarga de desarrollar el sistema operativo de coinsa y de la realización de pruebas de
                        calidad al codigo varias veces para garantizar su eficiencia.
                    </p>
                </div>
                <div class="testimonial border border-success">
                    <div class="photo-perfil2"></div>
                    <h2>Daniela Zapata Gutierrez</h2>
                    <h4 class="text-success">ADSI</h4>
                    <p class="parrafo2">
                        Se encarga de la administración de la base de datos y que todo fluya correctamente.
                    </p>
                </div>
                <div class="testimonial border border-success">
                    <div class="photo-perfil3"></div>
                    <h2>Karen Vásquez Hernández</h2>
                    <h4 class="text-success">ADSI</h4>
                    <p class="parrafo3">
                        Se encarga de diseñar la arquitectura del proyecto, se asegura que todos los requisitos
                        propuestos sean cumplidos en el equipo de trabajo.
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}